{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"no-console": 0,
		"@typescript-eslint/ban-ts-comment": 1,
		"@typescript-eslint/no-non-null-assertion": 0,
		"no-mixed-spaces-and-tabs": 1
	}
}